<a class="list-pic" href="javascript:;">
  <img src="../../../assets/images/list2.jpg" alt="">
</a>

<ng-container *ngIf="type === 1">
  <div class="list-info">
    <p class="title">
      <a class="title-text" href="javascript:;" title="站酷建站网页创意模板设计大赛作品评析">站酷建站网页创意模板设计大赛作品评析</a>
    </p>
    <p class="type" title="文章-观点-网页">文章-观点-网页</p>
    <p class="span">
      <span class="view" title="共5579人气">5579</span>
      <span class="comment" title="共11评论">11</span>
      <span class="tuijian" title="共105推荐">105</span>
    </p>
  </div>
  
  <div class="list-item">
    <div class="pull-left hover-vip-card">
      <a href="javascript:;">
        <img src="../../../assets/images/e.jpg@80w_80h_1c_1e_1o_100sh.jpg" alt="">Arsonly
      </a>
    </div>
    <span class="time pull-right" title="审核通过时间：2018-08-01 14:07:57；创建时间：2018-08-01 12:49:39">4小时前</span>
  </div>
</ng-container>

<ng-container *ngIf="type === 2">
  <p class="type2">
    <a class="title-text" href="javascript:;" title="站酷建站网页创意模板设计大赛作品评析">站酷建站网页创意模板设计大赛作品评析</a>
    <span class="fire fire-1" title="普通推荐"></span>
  </p>
</ng-container>
