<div>
  <a class="avatar" href="javascript:;">
    <img src="../../../assets/images/d100sh.jpg" alt="">
  </a>
</div>

<p class="title">
  <a class="author-name" href="javascript:;">腾讯ISUX</a>
</p>

<p class="sub-title">
  <span>深圳&nbsp;|&nbsp;设计爱好者</span>
</p>

<div class="info clearfix">
  <div class="pull-left work">
    <p>创作</p>
    <a href="javascript:;">6</a>
  </div>
  <div class="pull-left">
    <p>粉丝</p>
    <a href="javascript:;">3792</a>
  </div>
</div>

<div class="btn-wrap clearfix">
  <button class="pull-left" mat-flat-button disableRipple="true">关注</button>
  <button class="pull-right" mat-stroked-button disableRipple="true">私信</button>
</div>
